In [13]:
# import dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
import sklearn as skl

In [14]:
import pymongo
import json
import pandas as pd
from config import password
from config import username
myclient=pymongo.MongoClient(f"mongodb://{username}:{password}@ac-bwpvcfr-shard-00-00.sc3siep.mongodb.net:27017,ac-bwpvcfr-shard-00-01.sc3siep.mongodb.net:27017,ac-bwpvcfr-shard-00-02.sc3siep.mongodb.net:27017/?ssl=true&replicaSet=atlas-lvkd7c-shard-0&authSource=admin&retryWrites=true&w=majority")
mydb=myclient["HousingCovid"]
test = mydb.merged_data
data_df = pd.DataFrame(list(test.find()))
data_df.head()

,_id,cost_house,cases,fip_year_month,fips,pcincome,popestimate,mfratio,popest_male,popest_fem,...,rucc_2013,wa,ba,ia,aa,na,tom,nh,h,Year
0,63a3b5df32af6aabd867f68f,633105,0,6037-2019-2,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
1,63a3b5df32af6aabd867f698,640082,0,6037-2019-11,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
2,63a3b5df32af6aabd867f69b,652995,29,6037-2020-2,6037,35685,9989165,0.983358,4952675,5036490,...,1,7029495,896779,147509,1552230,36502,326650,5115041,4874124,2020
3,63a3b5df32af6aabd867f690,631271,0,6037-2019-3,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
4,63a3b5df32af6aabd867f691,630818,0,6037-2019-4,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019

In [15]:
data_df["rucc_2013"]=data_df["rucc_2013"].astype(str)
#data_df.drop(data_df[data_df['Year']==2021].index, inplace = True)
data_df['perchange']=data_df.groupby('fips').cost_house.pct_change() * 100
Subjects = {"1" : "1",
                     "2" : "1",
                     "3" : "1",
                     "4" : "2",
                     "6" : "2",
                    "8" : "2",
                     "5" : "3",
                     "7" : "3",
                     "9" : "3"}
data_df['ruccmetro']=data_df['rucc_2013'].map(Subjects)
data_df

,_id,cost_house,cases,fip_year_month,fips,pcincome,popestimate,mfratio,popest_male,popest_fem,...,ba,ia,aa,na,tom,nh,h,Year,perchange,ruccmetro
0,63a3b5df32af6aabd867f68f,633105,0,6037-2019-2,6037,34156,10011602,0.972269,4935416,5076186,...,900628,146210,1561422,36698,322640,5170149,4841453,2019,NaN,1
1,63a3b5df32af6aabd867f698,640082,0,6037-2019-11,6037,34156,10011602,0.972269,4935416,5076186,...,900628,146210,1561422,36698,322640,5170149,4841453,2019,1.102029,1
2,63a3b5df32af6aabd867f69b,652995,29,6037-2020-2,6037,35685,9989165,0.983358,4952675,5036490,...,896779,147509,1552230,36502,326650,5115041,4874124,2020,2.017398,1
3,63a3b5df32af6aabd867f690,631271,0,6037-2019-3,6037,34156,10011602,0.972269,4935416,5076186,...,900628,146210,1561422,36698,322640,5170149,4841453,2019,-3.326825,1
4,63a3b5df32af6aabd867f691,630818,0,6037-2019-4,6037,34156,10011602,0.972269,4935416,5076186,...,900628,146210,1561422,36698,322640,5170149,4841453,2019,-0.071760,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95306,63a3b5e032af6aabd8696a7a,292602,0,8079-2019-8,8079,33955,756,0.973890,373,383,...,2,9,4,0,12,706,50,2019,-4.957075,3
95307,63a3b5e032af6aabd8696a91,364747,2944,8079-2021-7,8079,33849,924,1.008696,464,460,...,5,5,6,0,16,863,61,2021,24.656359,3
95308,63a3b5e032af6aabd8696a93,376500,3154,8079-2021-9,8079,33849,924,1.008696,464,460,...,5,5,6,0,16,863,61,2021,3.222233,3
95309,63a3b5e032af6aabd8696a94,380346,3853,8079-2021-10,8079,33849,924,1.008696,464,460,...,5,5,6,0,16,863,61,2021,1.021514,3
95310,63a3b5e032af6aabd8696ac6,346167,0,8111-2020-2,8111,36454,710,1.253968,395,315,...,2,8,6,0,20,616,94,2020,-21.015128,3

In [4]:
data_df

,_id,cost_house,cases,fip_year_month,fips,pcincome,popestimate,mfratio,popest_male,popest_fem,...,ba,ia,aa,na,tom,nh,h,Year,perchange,ruccmetro
0,63a3b5df32af6aabd867f68f,633105,0,6037-2019-2,6037,34156,10011602,0.972269,4935416,5076186,...,900628,146210,1561422,36698,322640,5170149,4841453,2019,NaN,1
1,63a3b5df32af6aabd867f698,640082,0,6037-2019-11,6037,34156,10011602,0.972269,4935416,5076186,...,900628,146210,1561422,36698,322640,5170149,4841453,2019,1.102029,1
2,63a3b5df32af6aabd867f69b,652995,29,6037-2020-2,6037,35685,9989165,0.983358,4952675,5036490,...,896779,147509,1552230,36502,326650,5115041,4874124,2020,2.017398,1
3,63a3b5df32af6aabd867f690,631271,0,6037-2019-3,6037,34156,10011602,0.972269,4935416,5076186,...,900628,146210,1561422,36698,322640,5170149,4841453,2019,-3.326825,1
4,63a3b5df32af6aabd867f691,630818,0,6037-2019-4,6037,34156,10011602,0.972269,4935416,5076186,...,900628,146210,1561422,36698,322640,5170149,4841453,2019,-0.071760,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95306,63a3b5e032af6aabd8696a7a,292602,0,8079-2019-8,8079,33955,756,0.973890,373,383,...,2,9,4,0,12,706,50,2019,-4.957075,3
95307,63a3b5e032af6aabd8696a91,364747,2944,8079-2021-7,8079,33849,924,1.008696,464,460,...,5,5,6,0,16,863,61,2021,24.656359,3
95308,63a3b5e032af6aabd8696a93,376500,3154,8079-2021-9,8079,33849,924,1.008696,464,460,...,5,5,6,0,16,863,61,2021,3.222233,3
95309,63a3b5e032af6aabd8696a94,380346,3853,8079-2021-10,8079,33849,924,1.008696,464,460,...,5,5,6,0,16,863,61,2021,1.021514,3
95310,63a3b5e032af6aabd8696ac6,346167,0,8111-2020-2,8111,36454,710,1.253968,395,315,...,2,8,6,0,20,616,94,2020,-21.015128,3

In [16]:
data_df=data_df.drop(data_df[(data_df.fips==36085)|(data_df.fips==36081)|(data_df.fips==36047)|(data_df.fips==36005)|(data_df.fips==36061)].index)

data_df

,_id,cost_house,cases,fip_year_month,fips,pcincome,popestimate,mfratio,popest_male,popest_fem,...,ba,ia,aa,na,tom,nh,h,Year,perchange,ruccmetro
0,63a3b5df32af6aabd867f68f,633105,0,6037-2019-2,6037,34156,10011602,0.972269,4935416,5076186,...,900628,146210,1561422,36698,322640,5170149,4841453,2019,NaN,1
1,63a3b5df32af6aabd867f698,640082,0,6037-2019-11,6037,34156,10011602,0.972269,4935416,5076186,...,900628,146210,1561422,36698,322640,5170149,4841453,2019,1.102029,1
2,63a3b5df32af6aabd867f69b,652995,29,6037-2020-2,6037,35685,9989165,0.983358,4952675,5036490,...,896779,147509,1552230,36502,326650,5115041,4874124,2020,2.017398,1
3,63a3b5df32af6aabd867f690,631271,0,6037-2019-3,6037,34156,10011602,0.972269,4935416,5076186,...,900628,146210,1561422,36698,322640,5170149,4841453,2019,-3.326825,1
4,63a3b5df32af6aabd867f691,630818,0,6037-2019-4,6037,34156,10011602,0.972269,4935416,5076186,...,900628,146210,1561422,36698,322640,5170149,4841453,2019,-0.071760,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95306,63a3b5e032af6aabd8696a7a,292602,0,8079-2019-8,8079,33955,756,0.973890,373,383,...,2,9,4,0,12,706,50,2019,-4.957075,3
95307,63a3b5e032af6aabd8696a91,364747,2944,8079-2021-7,8079,33849,924,1.008696,464,460,...,5,5,6,0,16,863,61,2021,24.656359,3
95308,63a3b5e032af6aabd8696a93,376500,3154,8079-2021-9,8079,33849,924,1.008696,464,460,...,5,5,6,0,16,863,61,2021,3.222233,3
95309,63a3b5e032af6aabd8696a94,380346,3853,8079-2021-10,8079,33849,924,1.008696,464,460,...,5,5,6,0,16,863,61,2021,1.021514,3
95310,63a3b5e032af6aabd8696ac6,346167,0,8111-2020-2,8111,36454,710,1.253968,395,315,...,2,8,6,0,20,616,94,2020,-21.015128,3

In [26]:
data_df2021=data_df.drop(data_df[(data_df.Year==2019)|(data_df.Year==2020)].index)
data_df2021

,_id,cost_house,cases,fip_year_month,fips,pcincome,popestimate,mfratio,popest_male,popest_fem,...,ba,ia,aa,na,tom,nh,h,Year,perchange,ruccmetro
24,63a3b5df32af6aabd867f6a6,710277,30373784,6037-2021-1,6037,37924,9829544,0.982266,4870802,4958742,...,881356,146475,1538016,36203,326301,5004555,4824989,2021,0.538876,1
25,63a3b5df32af6aabd867f6a7,717292,32591439,6037-2021-2,6037,37924,9829544,0.982266,4870802,4958742,...,881356,146475,1538016,36203,326301,5004555,4824989,2021,0.987643,1
26,63a3b5df32af6aabd867f6a8,724304,37517367,6037-2021-3,6037,37924,9829544,0.982266,4870802,4958742,...,881356,146475,1538016,36203,326301,5004555,4824989,2021,0.977566,1
27,63a3b5df32af6aabd867f6a9,734737,36839800,6037-2021-4,6037,37924,9829544,0.982266,4870802,4958742,...,881356,146475,1538016,36203,326301,5004555,4824989,2021,1.440417,1
28,63a3b5df32af6aabd867f6aa,748675,38390260,6037-2021-5,6037,37924,9829544,0.982266,4870802,4958742,...,881356,146475,1538016,36203,326301,5004555,4824989,2021,1.897005,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95306,63a3b5e032af6aabd8696ad8,415334,2202,8111-2021-8,8111,40019,733,1.207831,401,332,...,2,8,6,0,22,628,105,2021,1.980013,3
95307,63a3b5e032af6aabd8696ad9,423507,2603,8111-2021-9,8111,40019,733,1.207831,401,332,...,2,8,6,0,22,628,105,2021,1.967814,3
95308,63a3b5e032af6aabd8696ada,429720,2914,8111-2021-10,8111,40019,733,1.207831,401,332,...,2,8,6,0,22,628,105,2021,1.467036,3
95309,63a3b5e032af6aabd8696adb,433309,3092,8111-2021-11,8111,40019,733,1.207831,401,332,...,2,8,6,0,22,628,105,2021,0.835195,3
95310,63a3b5e032af6aabd8696adc,438270,3400,8111-2021-12,8111,40019,733,1.207831,401,332,...,2,8,6,0,22,628,105,2021,1.144910,3

In [ ]:
#data_df=data_df.drop(columns=['rucc_2013'])
object_columns = list(data_df.select_dtypes(['object']).columns)
object_columns
#data_df=data_df.drop(columns=['_id','fip_year_month'])
data_df = pd.get_dummies(data_df, columns=object_columns)
data_df.head()

In [ ]:
#data_df = pd.get_dummies(data_df, columns=object_columns)
#data_df.head()

In [17]:
data_df1=data_df.drop(columns=['fips'])

In [18]:
data_df1=data_df.drop(columns=['popest_male','popest_fem','under5_tot','age513_tot','age1544_tot','age4564_tot','age65plus_tot','ba','ia','aa','na','h'])
data_df1['waper']=data_df1.wa/data_df1.popestimate
data_df1['tomper']=data_df1.tom/data_df1.popestimate
data_df1['nhper']=data_df1.nh/data_df1.popestimate
data_df1=data_df1.drop(columns=['wa','nh','perchange','mfratio','tom'])
data_df1.cases.unique()

array([      0,      29, 6796228, ...,     829,    3154,    3853],
      dtype=int64)

In [13]:
data_dfcostvwaper=pd.DataFrame()
data_dfcostvwaper['cost_house']=data_df1['cost_house']
data_dfcostvwaper['waper']=data_df1['waper']
data_dfcostvwaper.corr()

            cost_house     waper
cost_house    1.000000  0.009833
waper         0.009833  1.000000

In [21]:
data_dfcostvtomper=pd.DataFrame()
data_dfcostvtomper['cost_house']=data_df1['cost_house']
data_dfcostvtomper['tomper']=data_df1['tomper']
data_dfcostvtomper.corr()

            cost_house    tomper
cost_house    1.000000  0.250081
tomper        0.250081  1.000000

In [14]:
data_dfcostvnhper=pd.DataFrame()
data_dfcostvnhper['cost_house']=data_df1['cost_house']
data_dfcostvnhper['nhper']=data_df1['nhper']
data_dfcostvnhper.corr()

            cost_house     nhper
cost_house    1.000000 -0.165233
nhper        -0.165233  1.000000

In [9]:
# Create the StandardScaler instance
scaler = MinMaxScaler()

# Fit the StandardScaler
scaler.fit(data_df1)

# Scale the data
scaled_data = scaler.transform(data_df1)

In [10]:
scaled_data = pd.DataFrame(scaled_data, columns=data_df1.columns)
scaled_data.head()
scaled_data.tail()

,cost_house,cases,fips,pcincome,popestimate,median_age_tot,Year,ruccmetro_1,ruccmetro_2,ruccmetro_3,waper,nhper
95306,0.183271,0.000045,0.129169,0.378529,0.000002,0.568889,1.0,0.0,0.0,1.0,0.953631,0.857046
95307,0.187181,0.000053,0.129169,0.378529,0.000002,0.568889,1.0,0.0,0.0,1.0,0.953631,0.857046
95308,0.190153,0.000060,0.129169,0.378529,0.000002,0.568889,1.0,0.0,0.0,1.0,0.953631,0.857046
95309,0.191870,0.000063,0.129169,0.378529,0.000002,0.568889,1.0,0.0,0.0,1.0,0.953631,0.857046
95310,0.194243,0.000070,0.129169,0.378529,0.000002,0.568889,1.0,0.0,0.0,1.0,0.953631,0.857046

In [11]:
# Split our preprocessed data into our features and target arrays
y = scaled_data["cost_house"].values
X = scaled_data.drop(columns="cost_house").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=22)

In [12]:
# Create scaler instance
X_scaler = skl.preprocessing.MinMaxScaler()

# Fit the scaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
nn_model = tf.keras.models.Sequential()

In [28]:
# Add our first Dense layer, including the input layer
nn_model.add(tf.keras.layers.Dense(units=16, input_dim=11, activation="relu"))
# Add the output layer that uses a probability activation function
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=4, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=2, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the Sequential model
nn_model.summary()
# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_22 (Dense)            (None, 16)                192

 dense_23 (Dense)            (None, 8)                 136

 dense_24 (Dense)            (None, 4)                 36

 dense_25 (Dense)            (None, 2)                 10

 dense_26 (Dense)            (None, 1)                 3

=================================================================
Total params: 377
Trainable params: 377
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Fit the model to the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
2234/2234 [==============================] - 8s 3ms/step - loss: 0.2940 - accuracy: 1.3989e-05
Epoch 2/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2578 - accuracy: 1.3989e-05
Epoch 3/100
2234/2234 [==============================] - 10s 4ms/step - loss: 0.2574 - accuracy: 1.3989e-05
Epoch 4/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2569 - accuracy: 1.3989e-05
Epoch 5/100
2234/2234 [==============================] - 10s 4ms/step - loss: 0.2567 - accuracy: 1.3989e-05
Epoch 6/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2566 - accuracy: 1.3989e-05
Epoch 7/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2564 - accuracy: 1.3989e-05
Epoch 8/100
2234/2234 [==============================] - 8s 3ms/step - loss: 0.2563 - accuracy: 1.3989e-05
Epoch 9/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2560 - accuracy: 1.3989e-05
Epoch 10/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2558 - accuracy: 1.3989e-05
Epoch 11/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2558 - accuracy: 2.7979e-05
Epoch 12/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2557 - accuracy: 2.7979e-05
Epoch 13/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2557 - accuracy: 2.7979e-05
Epoch 14/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2556 - accuracy: 2.7979e-05
Epoch 15/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2556 - accuracy: 2.7979e-05
Epoch 16/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2555 - accuracy: 2.7979e-05
Epoch 17/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2555 - accuracy: 2.7979e-05
Epoch 18/100
2234/2234 [==============================] - 10s 4ms/step - loss: 0.2555 - accuracy: 2.7979e-05
Epoch 19/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2555 - accuracy: 2.7979e-05
Epoch 20/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2554 - accuracy: 2.7979e-05
Epoch 21/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2554 - accuracy: 2.7979e-05
Epoch 22/100
2234/2234 [==============================] - 10s 4ms/step - loss: 0.2554 - accuracy: 2.7979e-05
Epoch 23/100
2234/2234 [==============================] - 10s 4ms/step - loss: 0.2554 - accuracy: 2.7979e-05
Epoch 24/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2554 - accuracy: 2.7979e-05
Epoch 25/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2554 - accuracy: 2.7979e-05
Epoch 26/100
2234/2234 [==============================] - 10s 4ms/step - loss: 0.2554 - accuracy: 2.7979e-05
Epoch 27/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2553 - accuracy: 2.7979e-05
Epoch 28/100
2234/2234 [==============================] - 10s 4ms/step - loss: 0.2553 - accuracy: 2.7979e-05
Epoch 29/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2553 - accuracy: 2.7979e-05
Epoch 30/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2553 - accuracy: 2.7979e-05
Epoch 31/100
2234/2234 [==============================] - 10s 5ms/step - loss: 0.2553 - accuracy: 2.7979e-05
Epoch 32/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2553 - accuracy: 2.7979e-05
Epoch 33/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2553 - accuracy: 2.7979e-05
Epoch 34/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2553 - accuracy: 2.7979e-05
Epoch 35/100
2234/2234 [==============================] - 5s 2ms/step - loss: 0.2553 - accuracy: 2.7979e-05
Epoch 36/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2553 - accuracy: 2.7979e-05
Epoch 37/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2552 - accuracy: 2.7979e-05
Epoch 38/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2552 - accuracy: 2.7979e-05
Epoch 39/100
2234/2234 [==============================] - 8s 3ms/step - loss: 0.2552 - accuracy: 2.7979e-05
Epoch 40/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2552 - accuracy: 2.7979e-05
Epoch 41/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2552 - accuracy: 2.7979e-05
Epoch 42/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2552 - accuracy: 2.7979e-05
Epoch 43/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2552 - accuracy: 2.7979e-05
Epoch 44/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2552 - accuracy: 2.7979e-05
Epoch 45/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2552 - accuracy: 2.7979e-05
Epoch 46/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2552 - accuracy: 2.7979e-05
Epoch 47/100
2234/2234 [==============================] - 6s 2ms/step - loss: 0.2552 - accuracy: 2.7979e-05
Epoch 48/100
2234/2234 [==============================] - 5s 2ms/step - loss: 0.2552 - accuracy: 2.7979e-05
Epoch 49/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 50/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 51/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 52/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 53/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 54/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 55/100
2234/2234 [==============================] - 6s 2ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 56/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 57/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 58/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 59/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 60/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 61/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 62/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 63/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 64/100
2234/2234 [==============================] - 8s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 65/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 66/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 67/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 68/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 69/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2551 - accuracy: 2.7979e-05
Epoch 70/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 71/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 72/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 73/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 74/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 75/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 76/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 77/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 78/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 79/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 80/100
2234/2234 [==============================] - 8s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 81/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 82/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 83/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 84/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 85/100
2234/2234 [==============================] - 6s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 86/100
2234/2234 [==============================] - 8s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 87/100
2234/2234 [==============================] - 8s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 88/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 89/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 90/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 91/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 92/100
2234/2234 [==============================] - 10s 4ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 93/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 94/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 95/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2550 - accuracy: 2.7979e-05
Epoch 96/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2549 - accuracy: 2.7979e-05
Epoch 97/100
2234/2234 [==============================] - 8s 4ms/step - loss: 0.2549 - accuracy: 2.7979e-05
Epoch 98/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2549 - accuracy: 2.7979e-05
Epoch 99/100
2234/2234 [==============================] - 9s 4ms/step - loss: 0.2549 - accuracy: 2.7979e-05
Epoch 100/100
2234/2234 [==============================] - 7s 3ms/step - loss: 0.2549 - accuracy: 2.7979e-05

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
#!pip install hvplot
import hvplot.pandas

pca = PCA(n_components=2)

In [ ]:
pca1 = pca.fit_transform(scaled_data)
pca1

df_pca=pd.DataFrame(data=pca1, columns=["pca1",'pca2'])
df_pca

In [ ]:
pca.explained_variance_ratio_

In [ ]:
# Find the best value for K
inertia = []
k = list(range(1, 11))

# Calculate the inertia for the range of K values
for i in k:
    km = KMeans(n_clusters=i, random_state=0)
    km.fit(df_pca)
    inertia.append(km.inertia_)

# Create the elbow curve
elbow_data = {"k": k, "inertia": inertia}
df_elbow = pd.DataFrame(elbow_data)
df_elbow.hvplot.line(x="k", y="inertia", xticks=k, title="Elbow Curve")
df_elbow

In [ ]:
df_elbow.plot.scatter(df_elbow.index, df_elbow.inertia)

In [ ]:
df_elbow['numeber']=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
df_elbow.dtypes

In [ ]:
# Initialize the K-means model
model = KMeans(n_clusters=3, random_state=0)

# Fit the model
model.fit(df_pca)

# Predict clusters
predictions = model.predict(df_pca)

# Add the predicted class columns
df_pca["class"] = model.labels_
df_pca

In [ ]:
df_pca.hvplot.scatter(
    x="pca1",
    y="pca2",
    hover_cols=["class"],
    by="class",
)