In [2]:
# import dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [3]:
#  Import and read the csv.
import pymongo
import json
import pandas as pd
#myclient = pymongo.MongoClient("mongodb://localhost:27017/")
from config import password
from config import username
myclient=pymongo.MongoClient(f"mongodb://{username}:{password}@ac-bwpvcfr-shard-00-00.sc3siep.mongodb.net:27017,ac-bwpvcfr-shard-00-01.sc3siep.mongodb.net:27017,ac-bwpvcfr-shard-00-02.sc3siep.mongodb.net:27017/?ssl=true&replicaSet=atlas-lvkd7c-shard-0&authSource=admin&retryWrites=true&w=majority")
mydb=myclient["HousingCovid"]
test = mydb.merged_data
data_df = pd.DataFrame(list(test.find()))
data_df.head()

,_id,cost_house,cases,fip_year_month,fips,pcincome,popestimate,mfratio,popest_male,popest_fem,...,rucc_2013,wa,ba,ia,aa,na,tom,nh,h,Year
0,63a3b5df32af6aabd867f68e,635279,0,6037-2019-1,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
1,63a3b5df32af6aabd867f68f,633105,0,6037-2019-2,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
2,63a3b5df32af6aabd867f690,631271,0,6037-2019-3,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
3,63a3b5df32af6aabd867f691,630818,0,6037-2019-4,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
4,63a3b5df32af6aabd867f692,631688,0,6037-2019-5,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019

In [4]:
data_df["rucc_2013"]=data_df["rucc_2013"].astype(int)
data_df=data_df.drop(columns=['_id','fip_year_month','fips','Year'])
object_columns = list(data_df.select_dtypes(['object']).columns)
object_columns

[]

In [5]:
data_df['rucc_2013cut'] = pd.cut(data_df['rucc_2013'] , bins=3, labels=[1,2,3], include_lowest=True)
data_df=data_df.drop(columns=['rucc_2013'])
data_df["rucc_2013cut"]=data_df["rucc_2013cut"].astype(str)
object_columns = list(data_df.select_dtypes(['object']).columns)
object_columns

['rucc_2013cut']

In [6]:
# convert the string values into numerical ones using the get_dummies() method
data_df = pd.get_dummies(data_df, columns=object_columns)
data_df.head()

,cost_house,cases,pcincome,popestimate,mfratio,popest_male,popest_fem,median_age_tot,under5_tot,age513_tot,...,ba,ia,aa,na,tom,nh,h,rucc_2013cut_1,rucc_2013cut_2,rucc_2013cut_3
0,635279,0,34156,10011602,0.972269,4935416,5076186,37.1,574750,1081342,...,900628,146210,1561422,36698,322640,5170149,4841453,1,0,0
1,633105,0,34156,10011602,0.972269,4935416,5076186,37.1,574750,1081342,...,900628,146210,1561422,36698,322640,5170149,4841453,1,0,0
2,631271,0,34156,10011602,0.972269,4935416,5076186,37.1,574750,1081342,...,900628,146210,1561422,36698,322640,5170149,4841453,1,0,0
3,630818,0,34156,10011602,0.972269,4935416,5076186,37.1,574750,1081342,...,900628,146210,1561422,36698,322640,5170149,4841453,1,0,0
4,631688,0,34156,10011602,0.972269,4935416,5076186,37.1,574750,1081342,...,900628,146210,1561422,36698,322640,5170149,4841453,1,0,0

In [7]:
# Create our features
X = data_df.drop(columns="cost_house")

# Create our target
y = data_df["cost_house"]

In [7]:
X.describe()

,cases,pcincome,popestimate,mfratio,popest_male,popest_fem,median_age_tot,under5_tot,age513_tot,age1544_tot,...,ba,ia,aa,na,tom,nh,h,rucc_2013cut_1,rucc_2013cut_2,rucc_2013cut_3
count,9.531100e+04,95311.000000,9.531100e+04,95311.000000,9.531100e+04,9.531100e+04,95311.000000,95311.000000,9.531100e+04,9.531100e+04,...,9.531100e+04,95311.000000,9.531100e+04,95311.000000,95311.000000,9.531100e+04,9.531100e+04,95311.000000,95311.000000,95311.000000
mean,1.443622e+05,29386.688431,1.192936e+05,1.013826,5.898503e+04,6.030857e+04,41.655826,6926.010261,1.345482e+04,4.739945e+04,...,1.553548e+04,1503.669251,7.417686e+03,309.520832,3453.471100,9.658448e+04,2.270912e+04,0.406816,0.317067,0.276117
std,7.810247e+05,7162.836290,3.598325e+05,0.106413,1.775208e+05,1.823538e+05,5.157065,21385.208401,4.085650e+04,1.513606e+05,...,6.238829e+04,5906.599120,4.871347e+04,2484.303418,12654.552221,2.423149e+05,1.391879e+05,0.491243,0.465336,0.447078
min,0.000000e+00,13835.000000,7.100000e+02,0.752394,3.730000e+02,3.150000e+02,23.300000,12.000000,4.500000e+01,2.190000e+02,...,1.000000e+00,3.000000,2.000000e+00,0.000000,8.000000,5.830000e+02,2.300000e+01,0.000000,0.000000,0.000000
25%,0.000000e+00,24670.000000,1.450500e+04,0.966305,7.380000e+03,7.160000e+03,38.600000,787.000000,1.556000e+03,4.995000e+03,...,2.270000e+02,95.000000,8.400000e+01,8.000000,244.000000,1.319400e+04,4.990000e+02,0.000000,0.000000,0.000000
50%,3.016000e+03,28313.000000,3.088800e+04,0.994381,1.554600e+04,1.543500e+04,41.400000,1735.000000,3.414000e+03,1.111500e+04,...,1.239000e+03,245.000000,2.340000e+02,22.000000,556.000000,2.824800e+04,1.541000e+03,0.000000,0.000000,0.000000
75%,6.862150e+04,32566.000000,8.159200e+04,1.029001,4.052000e+04,4.097300e+04,44.400000,4526.000000,8.981500e+03,3.046900e+04,...,6.895000e+03,777.000000,1.091500e+03,94.000000,1993.000000,7.336900e+04,6.564000e+03,1.000000,1.000000,1.000000
max,4.873944e+07,83008.000000,1.001160e+07,2.846449,4.952675e+06,5.076186e+06,68.300000,574750.000000,1.091370e+06,4.298780e+06,...,1.248662e+06,147509.000000,1.561422e+06,101758.000000,326650.000000,5.170149e+06,4.874124e+06,1.000000,1.000000,1.000000

In [8]:
# Check the balance of our target values
y.value_counts()

154426    6
167355    6
105251    5
97982     5
148311    5
         ..
106774    1
107486    1
107790    1
108408    1
438270    1
Name: cost_house, Length: 80012, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=22)
Counter(y_train)

Counter({98724: 2,
         335984: 1,
         81304: 2,
         122522: 2,
         121354: 1,
         207410: 2,
         95674: 1,
         469753: 1,
         192685: 1,
         178718: 3,
         112013: 1,
         164987: 1,
         175400: 2,
         154749: 2,
         92552: 2,
         159044: 2,
         288677: 1,
         194557: 1,
         209320: 1,
         501934: 1,
         275535: 1,
         301369: 1,
         106921: 1,
         190682: 1,
         178698: 3,
         169864: 1,
         271733: 1,
         241838: 1,
         78749: 1,
         140155: 3,
         130721: 1,
         133306: 3,
         91007: 1,
         123170: 1,
         120825: 1,
         232698: 1,
         191641: 1,
         198297: 1,
         147995: 2,
         105708: 1,
         104397: 1,
         82460: 1,
         194384: 1,
         124906: 2,
         382088: 1,
         158817: 1,
         165764: 1,
         190493: 1,
         142994: 1,
         148594: 1,
         169347: 1,
         94425: 2,
         111209: 1,
         147574: 2,
         317542: 1,
         367473: 1,
         141484: 2,
         170621: 2,
         169727: 1,
         122992: 1,
         391047: 1,
         377803: 1,
         224031: 1,
         204757: 1,
         73343: 1,
         151436: 1,
         149947: 1,
         190875: 1,
         134111: 2,
         93265: 1,
         120389: 2,
         118468: 1,
         260058: 1,
         75824: 1,
         146223: 1,
         81875: 1,
         136913: 1,
         235109: 1,
         103891: 1,
         100719: 1,
         114697: 1,
         117940: 2,
         130883: 1,
         164863: 1,
         105702: 1,
         113999: 2,
         135463: 1,
         104772: 2,
         114059: 1,
         182086: 1,
         140943: 1,
         252901: 1,
         377617: 1,
         215012: 1,
         102432: 1,
         300776: 1,
         120475: 2,
         68677: 1,
         137106: 1,
         109530: 1,
         185647: 2,
         226831: 1,
         586020: 1,
         105395: 1,
         287785: 2,
         115627: 1,
         177000: 1,
         85946: 1,
         245534: 1,
         181209: 1,
         272287: 1,
         119621: 1,
         182758: 2,
         114042: 1,
         91114: 1,
         278767: 1,
         94940: 1,
         118015: 1,
         305445: 1,
         364949: 1,
         234687: 1,
         119632: 1,
         78412: 1,
         153590: 2,
         172864: 1,
         147833: 1,
         183166: 1,
         157396: 2,
         154953: 1,
         120815: 1,
         161131: 2,
         144146: 2,
         169284: 1,
         111257: 1,
         129668: 2,
         213031: 1,
         74389: 1,
         39410: 1,
         358130: 1,
         80685: 1,
         88584: 1,
         97692: 2,
         111747: 1,
         149269: 1,
         98444: 1,
         100707: 1,
         248646: 2,
         110005: 1,
         240037: 1,
         109025: 1,
         207192: 1,
         105490: 1,
         179790: 2,
         130300: 1,
         157841: 1,
         155217: 1,
         106719: 1,
         176936: 1,
         227095: 1,
         199250: 2,
         118194: 1,
         241393: 1,
         107114: 1,
         208569: 1,
         160783: 2,
         175319: 1,
         78045: 3,
         90019: 2,
         144601: 1,
         230114: 1,
         276526: 1,
         109306: 1,
         349789: 1,
         104796: 1,
         169606: 2,
         182785: 1,
         111687: 1,
         151158: 1,
         82976: 1,
         62162: 1,
         63359: 1,
         134884: 1,
         315999: 1,
         136167: 1,
         184514: 1,
         106942: 1,
         126433: 2,
         128291: 1,
         171839: 1,
         217760: 2,
         137899: 1,
         185772: 1,
         267937: 1,
         79259: 2,
         121490: 1,
         102555: 2,
         126626: 1,
         275378: 2,
         151333: 2,
         299737: 1,
         167775: 1,
         218874: 2,
         210639: 1,
         301509: 1,
         687230: 1,
         194489: 1,
         226072: 1,
         87559: 2,
         131808: 1,
         538396: 1,
         227011: 1,
         190280: 1,
         201724: 1,
         202586: 1,
         364335: 1,
         101710: 1,
         77433: 1,
         178591: 1,
         133264: 1,
         114498: 3,
         253931: 1,
         156873: 1,
         189602: 1,
         107547: 1,
         182992: 2,
         118842: 1,
         244370: 1,
         874178: 1,
         266017: 1,
         96034: 1,
         209699: 2,
         143116: 2,
         56318: 1,
         97095: 1,
         98802: 3,
         150079: 1,
         122954: 1,
         238897: 1,
         38351: 1,
         194974: 1,
         107423: 2,
         135305: 1,
         73989: 2,
         234323: 1,
         86172: 1,
         351869: 1,
         190518: 1,
         211097: 1,
         198690: 1,
         101871: 1,
         120889: 1,
         305724: 1,
         90134: 1,
         198948: 1,
         248087: 1,
         191217: 1,
         217978: 1,
         106070: 1,
         140294: 1,
         83508: 1,
         226125: 1,
         208084: 2,
         185717: 1,
         222499: 1,
         70662: 1,
         148617: 1,
         237700: 1,
         133606: 1,
         77553: 1,
         117392: 1,
         115436: 1,
         104873: 1,
         119568: 3,
         79765: 2,
         570709: 1,
         138636: 1,
         271432: 2,
         116253: 2,
         114604: 1,
         232514: 1,
         234676: 1,
         150701: 1,
         229794: 1,
         201488: 1,
         48268: 1,
         177860: 2,
         168084: 2,
         262997: 1,
         151439: 1,
         97237: 2,
         197284: 1,
         462420: 1,
         301181: 1,
         76160: 1,
         117332: 2,
         120390: 1,
         79777: 1,
         544618: 1,
         255958: 1,
         153694: 1,
         208053: 1,
         261032: 1,
         95753: 1,
         150192: 1,
         132826: 1,
         151770: 2,
         150639: 1,
         81740: 1,
         230608: 1,
         79930: 1,
         118041: 1,
         350452: 1,
         238493: 1,
         1603285: 1,
         251634: 1,
         109148: 1,
         120601: 1,
         161919: 2,
         138820: 1,
         397633: 1,
         165543: 1,
         270054: 1,
         248814: 1,
         231790: 1,
         265096: 1,
         140990: 1,
         226542: 1,
         72736: 1,
         164279: 1,
         104612: 1,
         192125: 1,
         140836: 1,
         101126: 1,
         138529: 2,
         306470: 1,
         115168: 2,
         159776: 1,
         192538: 1,
         240408: 2,
         255649: 1,
         176146: 1,
         86572: 2,
         208061: 1,
         183357: 1,
         126637: 2,
         112756: 1,
         183047: 1,
         414454: 1,
         413297: 2,
         273021: 1,
         78074: 2,
         252294: 1,
         189077: 3,
         181323: 1,
         141780: 1,
         249119: 1,
         199396: 1,
         168755: 2,
         88430: 1,
         316455: 1,
         239039: 1,
         136497: 1,
         112207: 1,
         740413: 1,
         130077: 1,
         105868: 1,
         190379: 1,
         134371: 1,
         137560: 1,
         193532: 1,
         144745: 1,
         163094: 1,
         124224: 1,
         181765: 1,
         145661: 3,
         203196: 1,
         210977: 2,
         194838: 1,
         118149: 1,
         175516: 1,
         371608: 1,
         88536: 1,
         160954: 1,
         182048: 2,
         95808: 1,
         176693: 1,
         162918: 1,
         127377: 1,
         498977: 1,
         121061: 2,
         160433: 2,
         96656: 1,
         158275: 1,
         138307: 1,
         301585: 1,
         139372: 2,
         186744: 1,
         237840: 1,
         239559: 1,
         190513: 1,
         138160: 1,
         262543: 1,
         69934: 1,
         190430: 1,
         141050: 2,
         228655: 2,
         187234: 1,
         101756: 3,
         384893: 1,
         371830: 1,
         231418: 2,
         851803: 1,
         243973: 2,
         145051: 2,
         117077: 1,
         154744: 2,
         106992: 2,
         183280: 1,
         200096: 2,
         100813: 2,
         133175: 4,
         107955: 1,
         88455: 1,
         228365: 1,
         174990: 2,
         409758: 1,
         72018: 1,
         63966: 1,
         75949: 1,
         81605: 1,
         80555: 2,
         118860: 1,
         287059: 1,
         121603: 1,
         111294: 1,
         165419: 1,
         77518: 1,
         251659: 1,
         134687: 1,
         150412: 2,
         265255: 1,
         94242: 1,
         187033: 1,
         227471: 1,
         162407: 1,
         103766: 1,
         117394: 1,
         137564: 1,
         185049: 2,
         85806: 2,
         163816: 1,
         193726: 2,
         285670: 1,
         128353: 2,
         196400: 2,
         139711: 2,
         45481: 1,
         133678: 1,
         127489: 2,
         178073: 1,
         357302: 1,
         167961: 2,
         162824: 1,
         111121: 1,
         158287: 1,
         89020: 2,
         168406: 2,
         139913: 2,
         284193: 1,
         95890: 1,
         143035: 1,
         220027: 2,
         258837: 1,
         118004: 1,
         156009: 1,
         80899: 1,
         75160: 1,
         363360: 1,
         82538: 1,
         156977: 1,
         166273: 2,
         68767: 1,
         370939: 1,
         333460: 1,
         340693: 1,
         175468: 2,
         111481: 1,
         138959: 1,
         182642: 1,
         110649: 1,
         135128: 2,
         151256: 1,
         101981: 1,
         111547: 1,
         241876: 1,
         136359: 1,
         176153: 1,
         100681: 1,
         84367: 1,
         104413: 1,
         115902: 1,
         173378: 1,
         155032: 1,
         912894: 1,
         301860: 1,
         195882: 1,
         403827: 1,
         216767: 1,
         185416: 1,
         157311: 1,
         175977: 2,
         121969: 1,
         209602: 1,
         113101: 3,
         66170: 1,
         132551: 1,
         126251: 1,
         105758: 1,
         132563: 1,
         115239: 1,
         194576: 1,
         77640: 1,
         91707: 1,
         92916: 2,
         246354: 1,
         114108: 1,
         148620: 3,
         218943: 1,
         166446: 1,
         144864: 1,
         59075: 1,
         299335: 1,
         184424: 2,
         129169: 3,
         191559: 1,
         192935: 1,
         86966: 2,
         156528: 2,
         149845: 1,
         160461: 1,
         89490: 2,
         268388: 1,
         370514: 1,
         164708: 1,
         258923: 1,
         214433: 1,
         99690: 1,
         368171: 1,
         70373: 1,
         99499: 1,
         131391: 1,
         246102: 1,
         245458: 1,
         135413: 2,
         64905: 1,
         215391: 1,
         203534: 1,
         249881: 1,
         188478: 1,
         94852: 1,
         222974: 1,
         279308: 1,
         217428: 1,
         99191: 3,
         116784: 2,
         95177: 1,
         156407: 1,
         98925: 1,
         123376: 2,
         123761: 2,
         160749: 1,
         180047: 1,
         279395: 1,
         221626: 2,
         162608: 1,
         110076: 1,
         202750: 1,
         358928: 1,
         119425: 2,
         149589: 1,
         146579: 2,
         229633: 1,
         95512: 1,
         90253: 1,
         181521: 2,
         130329: 1,
         701236: 1,
         203754: 1,
         123848: 2,
         237838: 2,
         232269: 1,
         100369: 1,
         121194: 1,
         54859: 1,
         72237: 1,
         92770: 1,
         478966: 1,
         137795: 1,
         231555: 1,
         101406: 2,
         174845: 2,
         156138: 3,
         167538: 2,
         173682: 2,
         131009: 1,
         50447: 1,
         119047: 2,
         81584: 2,
         87841: 1,
         216491: 1,
         109970: 2,
         131212: 2,
         238094: 2,
         245375: 3,
         537613: 1,
         297140: 1,
         239718: 1,
         121088: 1,
         116070: 3,
         110937: 1,
         115467: 2,
         106601: 2,
         107130: 1,
         236518: 1,
         172150: 1,
         143505: 1,
         206548: 1,
         139180: 2,
         270273: 1,
         256225: 1,
         621333: 1,
         105131: 2,
         90433: 1,
         292104: 1,
         162246: 1,
         107265: 1,
         159617: 1,
         171744: 1,
         188849: 1,
         502143: 1,
         238496: 2,
         205839: 2,
         102167: 1,
         148578: 1,
         91543: 1,
         147636: 1,
         402979: 1,
         144905: 1,
         109931: 1,
         326453: 1,
         159082: 1,
         113066: 1,
         106752: 1,
         108001: 1,
         251837: 1,
         216057: 2,
         164792: 1,
         105273: 1,
         184439: 1,
         231281: 1,
         162306: 1,
         198406: 1,
         101964: 2,
         186904: 1,
         463628: 1,
         111932: 1,
         202421: 2,
         121979: 1,
         147688: 2,
         71808: 1,
         150844: 1,
         139644: 1,
         205222: 1,
         138688: 2,
         223309: 1,
         170411: 1,
         105251: 4,
         198749: 1,
         118404: 2,
         93797: 1,
         189537: 1,
         113072: 1,
         64555: 1,
         93763: 2,
         103524: 1,
         395122: 1,
         317730: 1,
         120077: 1,
         269791: 1,
         147760: 2,
         247689: 1,
         59400: 1,
         255665: 1,
         183273: 1,
         260480: 1,
         130245: 2,
         118416: 1,
         311782: 1,
         134156: 1,
         165857: 1,
         125899: 1,
         270643: 1,
         267450: 1,
         285216: 1,
         210803: 1,
         104265: 1,
         131105: 1,
         249022: 1,
         242709: 2,
         112858: 1,
         181897: 1,
         148313: 1,
         80058: 1,
         236479: 2,
         212127: 1,
         225489: 1,
         99100: 1,
         281590: 1,
         289458: 1,
         265892: 2,
         194849: 1,
         250696: 1,
         109801: 2,
         206231: 2,
         441826: 1,
         100460: 1,
         226683: 1,
         100262: 2,
         162593: 1,
         120136: 1,
         115802: 3,
         183201: 1,
         311992: 1,
         270871: 1,
         134882: 1,
         110997: 1,
         191233: 1,
         248345: 2,
         104671: 2,
         260374: 1,
         130901: 2,
         95586: 1,
         161605: 1,
         133721: 2,
         116549: 2,
         367560: 1,
         79123: 1,
         141987: 1,
         121063: 1,
         198474: 1,
         145828: 1,
         119240: 1,
         194519: 1,
         112422: 3,
         113309: 1,
         149479: 1,
         162917: 1,
         90659: 1,
         144229: 2,
         91757: 1,
         215464: 1,
         169366: 2,
         317332: 1,
         181491: 1,
         212698: 3,
         143156: 1,
         168824: 1,
         103857: 2,
         55714: 1,
         85137: 1,
         122216: 3,
         374355: 1,
         358228: 1,
         122646: 2,
         236829: 1,
         332230: 1,
         241188: 2,
         191797: 1,
         456325: 1,
         287041: 2,
         211402: 1,
         145704: 1,
         423471: 2,
         208175: 2,
         401698: 1,
         106858: 2,
         190559: 2,
         447875: 1,
         208940: 1,
         133419: 1,
         85452: 2,
         199754: 1,
         160011: 2,
         287213: 1,
         1219785: 1,
         312671: 1,
         127060: 1,
         157256: 1,
         155209: 1,
         209938: 1,
         84985: 3,
         281980: 2,
         237404: 1,
         256862: 1,
         236465: 1,
         113439: 1,
         218678: 1,
         218548: 1,
         158003: 2,
         229121: 1,
         176399: 1,
         129691: 1,
         87036: 1,
         123443: 1,
         240836: 1,
         102954: 1,
         161642: 1,
         157111: 1,
         148601: 3,
         189659: 1,
         114122: 2,
         113828: 1,
         168364: 1,
         206521: 1,
         195967: 1,
         85911: 2,
         321160: 1,
         70521: 1,
         138002: 1,
         203177: 1,
         355676: 1,
         118251: 1,
         148012: 2,
         314143: 1,
         64115: 1,
         161711: 1,
         205904: 1,
         139300: 2,
         224569: 2,
         167511: 1,
         156817: 1,
         123795: 1,
         124982: 2,
         183247: 2,
         226037: 1,
         94772: 1,
         94053: 1,
         68544: 1,
         149293: 1,
         100447: 2,
         166324: 1,
         212948: 1,
         207800: 2,
         139169: 2,
         100374: 2,
         198580: 3,
         62087: 1,
         89584: 1,
         114599: 1,
         120269: 1,
         104283: 2,
         212024: 1,
         125356: 2,
         100023: 1,
         254167: 1,
         175435: 2,
         288715: 1,
         140937: 1,
         598553: 1,
         192496: 1,
         174321: 2,
         166775: 2,
         126831: 2,
         83212: 1,
         197061: 1,
         225026: 1,
         100629: 2,
         98381: 1,
         159302: 1,
         80627: 2,
         98068: 1,
         271636: 1,
         173082: 1,
         165642: 1,
         112852: 2,
         138533: 1,
         243177: 1,
         190801: 1,
         236260: 1,
         107861: 2,
         90281: 1,
         121981: 2,
         95223: 1,
         257762: 1,
         224113: 2,
         189005: 1,
         127972: 1,
         131746: 3,
         142403: 2,
         183548: 1,
         418388: 1,
         132695: 2,
         50736: 1,
         128998: 3,
         115339: 1,
         132296: 1,
         278810: 1,
         334337: 1,
         94386: 2,
         120047: 1,
         269579: 1,
         157759: 1,
         155070: 1,
         125121: 1,
         143742: 1,
         87434: 1,
         295088: 1,
         294920: 1,
         124342: 1,
         97843: 1,
         312294: 1,
         77788: 1,
         141631: 1,
         180234: 1,
         144367: 1,
         163253: 3,
         92616: 1,
         135210: 1,
         291309: 1,
         351360: 1,
         181135: 2,
         158707: 2,
         156265: 1,
         219372: 1,
         176486: 1,
         164936: 1,
         115273: 1,
         133831: 1,
         46189: 1,
         223639: 1,
         168979: 1,
         247554: 1,
         170906: 1,
         161176: 1,
         146798: 2,
         196999: 1,
         126472: 2,
         220387: 1,
         52194: 3,
         114112: 1,
         110033: 2,
         112286: 1,
         202095: 1,
         74394: 1,
         165928: 1,
         184413: 1,
         165064: 1,
         134737: 1,
         176647: 1,
         91903: 1,
         61857: 1,
         222015: 1,
         349804: 1,
         114055: 1,
         106301: 1,
         182577: 1,
         377389: 1,
         85638: 1,
         115390: 2,
         179440: 1,
         103528: 1,
         115825: 1,
         322371: 1,
         131390: 1,
         382317: 1,
         146534: 1,
         552732: 1,
         248493: 1,
         151076: 1,
         171142: 1,
         75687: 1,
         288426: 1,
         133339: 1,
         162226: 2,
         149629: 2,
         118206: 1,
         261317: 1,
         196639: 1,
         224856: 1,
         95472: 1,
         151555: 1,
         206795: 1,
         282168: 2,
         180282: 1,
         79493: 1,
         517969: 1,
         138839: 1,
         188997: 2,
         154108: 2,
         85421: 1,
         ...})

In [10]:
# create a logistical regression model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', random_state=22)
classifier

LogisticRegression(random_state=22)

In [11]:
# Train the data
classifier.fit(X_train, y_train)

MemoryError: Unable to allocate 16.7 GiB for an array with shape (71483, 62604) and data type int32

In [16]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

     Prediction  Actual
215      149586  150610
104      213613  217601
171      124383  123081
54       226542  219848
237      169895  171950
219      144926  143538
179      132082  134398
150      108226  106457
119      275912  278810
209      149586  146402
170      124383  121689
149      103723  105664
158      107882  107834
204      144926  143665
212      149586  147699
34       209394  205927
173      124383  125674
84       197032  194970
161      107882  109595
145      103723  104117
111      236889  241056
157      107882  107688
233      161921  163731
26       209394  201698
235      165821  167795
87       197032  200071
160      107882  108820
168      119515  117599
90       203002  202020
98       203381  205471
55       226542  225005
226      153318  152008
50       213784  214924
59       275912  229609
238      226542  173980
152      108226  107772

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.0

In [ ]:
#Using drop() to delete rows based on column value
data_df.drop(data_df[data_df['cases'] < 1].index, inplace = True)

# Default value of display.max_rows is 10 so at max
# 10 rows will be printed. Set it None to display
# all rows in the dataframe
pd.set_option('display.max_rows', None)

data_df

In [ ]:
c_s_cost_df = data_df[["C_S","Cost"]]
c_s_cost_df

In [ ]:
for i in c_s_cost_df["C_S"].str.len():
      
    if c_s_cost_df['C_S'].shift() == c_s_cost_df['C_S']:
#    if c_s_cost_df["C_S"][i+1] == c_s_cost_df["C_S"][i]:

#        print(c_s_cost_df["C_S"][i])

        print("I work.")

In [ ]:
sorted_df = data_df.sort_values(['Cost']).groupby(["Year","C_S","month"])["Cost"].sum()
print(sorted_df.to_string())

In [ ]:
# Declare a list that is to be converted into a column
increase_list = []

for year in sorted_df['Year']:

    for countystate in sorted_df["C_S"].str.len():

        for cost in sorted_df["Cost"]:
                
                if cost+1 < cost:
                    increase_list.append("1")
                else:
                    increase_list.append("0")
        data_df["Increase"] = increase_list 

print(data_df)