In [ ]:
# import dependencies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
import tensorflow as tf
import sklearn as skl

In [ ]:
import pymongo
import json
import pandas as pd
#myclient = pymongo.MongoClient("mongodb://localhost:27017/")
#from config import password
#from config import username

myclient=pymongo.MongoClient(f"mongodb://{username}:{password}@ac-bwpvcfr-shard-00-00.sc3siep.mongodb.net:27017,ac-bwpvcfr-shard-00-01.sc3siep.mongodb.net:27017,ac-bwpvcfr-shard-00-02.sc3siep.mongodb.net:27017/?ssl=true&replicaSet=atlas-lvkd7c-shard-0&authSource=admin&retryWrites=true&w=majority")
mydb=myclient["HousingCovid"]
test = mydb.merged_data
data_df = pd.DataFrame(list(test.find()))
data_df.head()

,_id,cost_house,cases,fip_year_month,fips,pcincome,popestimate,mfratio,popest_male,popest_fem,...,rucc_2013,wa,ba,ia,aa,na,tom,nh,h,Year
0,63a3b5df32af6aabd867f68e,635279,0,6037-2019-1,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
1,63a3b5df32af6aabd867f68f,633105,0,6037-2019-2,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
2,63a3b5df32af6aabd867f690,631271,0,6037-2019-3,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
3,63a3b5df32af6aabd867f691,630818,0,6037-2019-4,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019
4,63a3b5df32af6aabd867f692,631688,0,6037-2019-5,6037,34156,10011602,0.972269,4935416,5076186,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,2019

In [ ]:
data_df["rucc_2013"]=data_df["rucc_2013"].astype(int)
data_df.drop(data_df[data_df['Year']==2021].index, inplace = True)
data_df['perchange']=data_df.groupby('fips').cost_house.pct_change() * 100
data_df=data_df.drop(columns=['_id','fip_year_month','fips','Year'])
data_df=data_df.dropna()
data_df

,cost_house,cases,pcincome,popestimate,mfratio,popest_male,popest_fem,median_age_tot,under5_tot,age513_tot,...,rucc_2013,wa,ba,ia,aa,na,tom,nh,h,perchange
1,633105,0,34156,10011602,0.972269,4935416,5076186,37.1,574750,1081342,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,-0.342212
2,631271,0,34156,10011602,0.972269,4935416,5076186,37.1,574750,1081342,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,-0.289683
3,630818,0,34156,10011602,0.972269,4935416,5076186,37.1,574750,1081342,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,-0.071760
4,631688,0,34156,10011602,0.972269,4935416,5076186,37.1,574750,1081342,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,0.137916
5,633482,0,34156,10011602,0.972269,4935416,5076186,37.1,574750,1081342,...,1,7044004,900628,146210,1561422,36698,322640,5170149,4841453,0.284001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95294,352608,70,36454,710,1.253968,395,315,49.0,21,49,...,9,674,2,8,6,0,20,616,94,0.487607
95295,354179,180,36454,710,1.253968,395,315,49.0,21,49,...,9,674,2,8,6,0,20,616,94,0.445537
95296,356388,213,36454,710,1.253968,395,315,49.0,21,49,...,9,674,2,8,6,0,20,616,94,0.623696
95297,359682,470,36454,710,1.253968,395,315,49.0,21,49,...,9,674,2,8,6,0,20,616,94,0.924274
95298,362563,775,36454,710,1.253968,395,315,49.0,21,49,...,9,674,2,8,6,0,20,616,94,0.800985

In [ ]:
#data_df['rucc_2013cut'] = pd.cut(data_df['rucc_2013'] , bins=3, labels=[1,2,3], include_lowest=True)
#data_df=data_df.drop(columns=['rucc_2013'])
#data_df["rucc_2013cut"]=data_df["rucc_2013cut"].astype(str)
#object_columns = list(data_df.select_dtypes(['object']).columns)
#object_columns

In [ ]:
#data_df = pd.get_dummies(data_df, columns=object_columns)
#data_df.head()

In [ ]:
data_df1=data_df.drop(columns=['popest_male','popest_fem','under5_tot','age513_tot','age1544_tot','age4564_tot','age65plus_tot','ba','ia','aa','na','tom','h'])
data_df1['waper']=data_df1.wa/data_df1.popestimate
data_df1['nhper']=data_df1.nh/data_df1.popestimate
data_df1=data_df1.drop(columns=['wa','nh','perchange','mfratio','median_age_tot'])
data_df1

       cost_house  cases  pcincome  popestimate  rucc_2013     waper     nhper
1          633105      0     34156     10011602          1  0.703584  0.516416
2          631271      0     34156     10011602          1  0.703584  0.516416
3          630818      0     34156     10011602          1  0.703584  0.516416
4          631688      0     34156     10011602          1  0.703584  0.516416
5          633482      0     34156     10011602          1  0.703584  0.516416
...           ...    ...       ...          ...        ...       ...       ...
95294      352608     70     36454          710          9  0.949296  0.867606
95295      354179    180     36454          710          9  0.949296  0.867606
95296      356388    213     36454          710          9  0.949296  0.867606
95297      359682    470     36454          710          9  0.949296  0.867606
95298      362563    775     36454          710          9  0.949296  0.867606

[60668 rows x 7 columns]

In [ ]:
# Create the StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
scaler.fit(data_df1)

# Scale the data
scaled_data = scaler.transform(data_df1)

In [ ]:
scaled_data = pd.DataFrame(scaled_data, columns=data_df1.columns)
scaled_data.head()

   cost_house     cases  pcincome  popestimate  rucc_2013     waper     nhper
0    3.655457 -0.133697  0.786681    27.404335  -1.426464 -0.971446 -2.886069
1    3.640518 -0.133697  0.786681    27.404335  -1.426464 -0.971446 -2.886069
2    3.636828 -0.133697  0.786681    27.404335  -1.426464 -0.971446 -2.886069
3    3.643915 -0.133697  0.786681    27.404335  -1.426464 -0.971446 -2.886069
4    3.658528 -0.133697  0.786681    27.404335  -1.426464 -0.971446 -2.886069

In [ ]:
# Split our preprocessed data into our features and target arrays
y = scaled_data["cost_house"].values
X = scaled_data.drop(columns="cost_house").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=22)

In [ ]:
# Create scaler instance
X_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
nn_model = tf.keras.models.Sequential()

In [ ]:
# Add our first Dense layer, including the input layer
nn_model.add(tf.keras.layers.Dense(units=20, input_dim=6, activation="relu"))

In [ ]:
# Add the output layer that uses a probability activation function
nn_model.add(tf.keras.layers.Dense(units=10, activation="sigmoid"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

In [ ]:
# Check the structure of the Sequential model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 20)                140

 dense_1 (Dense)             (None, 10)                210

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 361
Trainable params: 361
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model to the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
1422/1422 [==============================] - 5s 3ms/step - loss: -1.3955 - accuracy: 0.0000e+00
Epoch 2/100
1422/1422 [==============================] - 4s 3ms/step - loss: -4.4224 - accuracy: 0.0000e+00
Epoch 3/100
1422/1422 [==============================] - 4s 3ms/step - loss: -7.2731 - accuracy: 0.0000e+00
Epoch 4/100
 365/1422 [======>.......................] - ETA: 8s - loss: -9.0274 - accuracy: 0.0000e+00

KeyboardInterrupt: ignored